[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
image-processing = {editable = true, ref = "1.9.1", git = "https://github.com/bodleian/image-processing.git"}
faktory = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"

[requires]
python_version = "3.8"
