[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
avi_jp2_convert = 'bin/avi_jp2_convert'
avi_ffmpeg_thumbnail = 'bin/avi_ffmpeg_thumbnail'

[packages]
opencv-python = ">3.4"
image-processing = {editable = true, ref = "1.10.0", git = "https://github.com/bodleian/image-processing.git"}
urllib3 = ">=1.26.5"
pillow = ">=9.0.0"
ffmpeg-python = ">=0.2.0"
numpy = ">=1.21"

[dev-packages]
pytest = ">=6.2"
pylint = "~=2.14"
coveralls = "~=3.0"
pytest-cov = "~=2.11"

[requires]
python_version = "3.8"
