[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = ">3.4"
image-processing = {editable = true, ref = "1.9.1", git = "https://github.com/bodleian/image-processing.git"}
pipenv-setup = "*"
urllib3 = ">=1.26.5"
pillow = ">=8.3.2"
avi-py = {editable = true, path = "."}

[dev-packages]
python-dotenv = ">=0.15"
pytest = ">=6.2"
pylint = "~=2.7"
coveralls = "~=3.0"
pytest-cov = "~=2.11"

[requires]
python_version = "3.8"
